@import "./reset.css";
@import "./scroll.css";
@import "./controls.css";

karten-carousel{
    margin-top: 5%;
    display: block;
    position: relative;
}

.carousel {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding: 0 5px 30px 5px;
}

.carousel input[type="radio"]{
    display: none;
}

.item {
    margin: 0 5px;
    cursor: pointer;
    position: relative;
}

.carousel img{
    transition: all 200ms ease-in-out;
    filter: grayscale(1) brightness(0.7);
}

.carousel input[type="radio"]:checked~img{
    transform: scale(1.1);
    filter: grayscale(0) brightness(1);
    margin: 0 20px;
}